.lottie-bg {
  z-index: -1;
  width: 70%;
  height: 100%;
  left: 0;
  right: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1940px){
  .lottie-bg {
      width: 25%;
  }
}